mixin icon(iconName, iconClass)
  svg(class=`${iconClass} ${iconClass}--${iconName}`)
    use(xlink:href=`./assets/images/icons/sprite.svg#${iconName}`)

mixin image(imagePath, imageAlt, imageClass)
  img(src=`./assets/images/${imagePath}`, alt=`${imageAlt}`, class=`${imageClass}`)

mixin user(titleText, titleCLass, desc, descClass)
  .user
    .user-img__wrapper
      +image('avatars/avatar.jpg', 'avatar pic', 'user__img')
    span(class=`${titleCLass}`) #{titleText}
    span(class=`${descClass}`)  #{desc}